@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,900&family=Girassol&family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,900&family=Girassol&family=Goblin+One&family=Rajdhani&display=swap');
.home{
    height: 100vh;
    padding: 30px 0 0 0;
}
.hello{
    font-size: 65px;
    font-weight: 900;
    font-family: 'Goblin One', cursive;
}
.typeWriting{
    font-size: 38px;
    /* font-family: 'Goblin One', cursive; */
    font-family: 'Rajdhani', sans-serif;
    /* color: rgb(177, 173, 165); */
    color: thistle;
    height: 40px;
}
.name,#name-top{
    letter-spacing: 2px;
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;
}
.name{
    font-size: 24px;
}
.info{
    width: 450px;
    font-family: 'Rajdhani', sans-serif;
}
@media(max-width: 1025px){
    .home{
        height: fit-content;
        padding: 180px 0;
    }
}
@media (max-width: 769px){
    .hello{
        font-size: 30px;
        /* font-weight: 900; */
    }
    .home{
        height: fit-content;
        padding: 120px 0 50px 0 !important;
    }
    .info{
        /* display: none; */
        width: fit-content;
        height: fit-content;
        overflow: scroll;
    }
    .name, .typeWriting{
        overflow: scroll;
    }
    .name{
        font-size: 18px;
        /* height: 46px; */
    }
    .typeWriting{
        font-size: 28px;
        /* height: 60px; */
    }
    /* @media only screen and (max-width: 140px) {
    } */
    /* Testimonials */

    .des{
        /* width: 92%; */
        height: 150px;
        /* margin: 5px; */
        font-size: 14px;
    }
    .main-img{
        display: none !important;
    }
}

.resume{
    background-color: #9A4DCE !important;
    border: 1px solid #9A4DCE;
    font-size: 18px !important;

}
.resume, .hire-me{
    position: relative;
    overflow: hidden !important;
}
.hire-me{
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    /* height: 43.4px; */
}
.hire-me .content{
    font-size: 18px;
}
.content{
    position: relative;
    transition: all 0.7s ease-in-out;
}
.resume-design, .hire-me-design{
    position: absolute;
    height: 100%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    transform: translate(0, 100%);
}
.resume-design{
    background-color: #111111;
}
.hire-me-design{
    background-color: #ffffff;
}
.hire-me:hover .content, .resume:hover .content{
    z-index: 10 !important;
    color: #9A4DCE !important;
}
.resume:hover .resume-design, .hire-me:hover .hire-me-design{
    transform: translate(0, 0);
}
